<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="User Authentication">

    <title>Home</title>

  </head>

  <body>

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Skills</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="sass.html"><i class="material-icons">search</i></a></li>
            <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
            <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
            <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
          </ul>
        </div>
      </nav>
    </div>
    
    <div>

      <p>
        <strong>Hi,</strong>
        <span id="id01"></span>
        <script>
var xmlhttp = new XMLHttpRequest();
var url = "/apiuser";

xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        var myArr = JSON.parse(xmlhttp.responseText);
        myFunction(myArr);
    }
};
xmlhttp.open("GET", url, true);
xmlhttp.send();

function myFunction(arr) {
    document.getElementById("id01").innerHTML = JSON.stringify(arr);
}
</script>

      </p>
      <a href="/logout">Log Out</a>

      <div>
        <h1>Orchestrate User Authentication</h1>
        <p>Below is your profile information!</p>
      </div>
      <div>
        <div>
          <h3>Profile Information</h3>
        </div>
        <div>
          <p>Username: {{user.username}}</p>
        </div>
      </div>

    </div>

  </body>
</html>
