{{#if user}}
  <div>
    <h1>Orchestrate User Authentication</h1>
    <p>Below is your profile information!</p>
  </div>
  <div>
    <div>
      <h3>Profile Information</h3>
    </div>
    <div>
      <p>Username: {{user.username}}</p>
    </div>
  </div>

{{else}}
  <div>
    <h1>Orchestrate1 User Authentication</h1>
    <p>Sign in and view your profile!</p>
    <p>
      <a href="/signin">
        Sign in!
      </a>
    </p>
  </div>

{{/if}}
