<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="User Authentication">

    <title>User Authentication</title>

  </head>

  <body>

    <div class="navbar-fixed">
      <nav>
        <a href="/" class="brand-logo">Skills</a>
      </nav>
    </div>

    <div class="signin-container">
      <div class="sign-in-card-wrapper">
        <div class="sign-in-card">
          <div class="card-content">
            <span class="title">Sign in</span>
            <form id="signin" action="/login" method="post">
              <div class="input-field">
                <input id="signin-username" type="text" name="username"/>
                <label for="signin-username">Username</label>
              </div>
              <div class="input-field">
                <input id="signin-password" type="password" name="password"/>
                <label for="signin-password">Password</label>
              </div>
              <div class="submit-wrapper">
                <input type="submit" class="submit-button" value="Log In"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="signin-container">
      <div class="sign-in-card-wrapper">
        <div class="sign-in-card">
          <div class="card-content">
            <span class="title">Register</span>

            <form id="register" action="/register" method="post">
              <div class="input-field">
                <input id="register-username" type="text" name="username"/>
                <label for="register-username">Username</label>
              </div>
              <div class="input-field">
                <input id="register-password" type="password" name="password"/>
                <label for="register-password">Password</label>
              </div>
              <div class="input-field">
                <input id="register-email" type="email" name="email"/>
                <label for="register-email">Email</label>
              </div>
              <div class="input-field">
                <input id="register-first-name" type="text" name="firstName"/>
                <label for="register-first-name">First name</label>
              </div>
              <div class="input-field">
                <input id="register-last-name" type="text" name="lastName"/>
                <label for="register-last-name">Last name</label>
              </div>
              
              <div class="submit-wrapper">
                <input type="submit" class="submit-button" value="Register"/>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

  </body>
</html>
